#track-grid {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    align-self: flex-start;
}

#tracks-header {
    margin-bottom: 15px;
    font-size: calc(28px);
    text-align: center;
    color: black;
}

@media screen and (min-width: 1394px) {
    #tracks-header {
        font-size: calc(28px + 0.02 * (100vw - 1394px))
    }
}

#tracks {
    display: grid;
    grid-template-columns: repeat(10, minmax(70px, auto));
}

#time_range {
    text-align: center;
    margin-bottom: 15px;
    grid-column: 1/-1;
    font-size: 15px;
    color: var(--time-range-primary);
}

#time_range span:hover {
    cursor: pointer;
}

#time_range span+span {
    margin-left: 20px;
}