#track-details {
    display: flex;
    flex-direction: column;
}

#album-cover {
    min-width: 408px;
    width: 100%;
    margin-bottom: 10px;
}

#song-name {
    font-size: 20px;
    color: white;
    margin-bottom: 2px;
}

#artist-name {
    font-size: 14px;
    color: rgb(213, 213, 213);
}